<main class="page" *ngIf="dashboard$ | async as dashboard">
  <header class="topbar">
    <a routerLink="/home" class="icon-link"><mat-icon fontIcon="arrow_back"></mat-icon></a>
    <h1>Комнаты</h1>
    <a routerLink="/home/rooms/create" class="icon-link"><mat-icon fontIcon="add"></mat-icon></a>
  </header>

  <section class="rooms-list" *ngIf="dashboard.rooms.length; else emptyRooms">
    <a class="room-row" *ngFor="let room of dashboard.rooms" [routerLink]="['/home/rooms', room.id]">
      <span class="room-icon">
        <mat-icon [fontIcon]="room.icon"></mat-icon>
      </span>
      <span class="room-copy">
        <strong>{{ room.name }}</strong>
        <small>{{ room.deviceCount }} устройств | {{ room.sensorCount }} датчика</small>
      </span>
      <span class="room-temp">{{ roomTemperature(room, dashboard.widgets) }}</span>
      <mat-icon fontIcon="chevron_right"></mat-icon>
    </a>
  </section>

  <a routerLink="/home/rooms/create" class="add-room">
    <mat-icon fontIcon="add"></mat-icon>
    <span>Добавить комнату</span>
  </a>

  <ng-template #emptyRooms>
    <section class="empty">
      <mat-icon fontIcon="meeting_room"></mat-icon>
      <h2>Комнаты не созданы</h2>
      <a routerLink="/home/rooms/create">Добавить комнату</a>
    </section>
  </ng-template>
</main>
