<div class="top">
  <div class="left">
    <ng-container *ngIf="isMainPage; else backButton">
      {{ user?.name?.toUpperCase() }}
    </ng-container>
    <ng-template #backButton>
      <div class="back-title-block">
        <mat-icon
          (click)="goBack()"
          class="icon back-icon"
          aria-hidden="false"
          aria-label="Назад"
          fontIcon="arrow_back">
        </mat-icon>
        <h1 class="page-title">{{ pageTitle }}</h1>
      </div>
    </ng-template>
  </div>
  <div class="right">
    <mat-icon *ngIf="isMovieListPage"
              (click)="addMovie()"
              class="icon"
              aria-hidden="false"
              aria-label="Добавить фильм"
              fontIcon="add">
    </mat-icon>
    <mat-icon *ngIf="isMovieListPage"
              (click)="toggleMovieViewMode()"
              class="icon"
              aria-hidden="false"
              aria-label="Переключить вид списка"
              [fontIcon]="movieViewMode === 'list' ? 'grid_view' : 'view_agenda'">
    </mat-icon>
    <mat-icon *ngIf="isMainPage"
              (click)="editMainPage()"
              class="icon"
              aria-hidden="false"
              aria-label="Настройки"
              fontIcon="settings">
    </mat-icon>
  </div>
</div>
