<div class="top">
  <div class="left">
    <ng-container *ngIf="isMainPage; else backButton">
      {{ user?.name?.toUpperCase() }}
    </ng-container>
    <ng-template #backButton>
      <div class="back-title-block">
        <mat-icon
          (click)="goBack()"
          class="icon back-icon"
          aria-hidden="false"
          aria-label="Назад"
          fontIcon="arrow_back">
        </mat-icon>
        <h1 class="page-title">{{ pageTitle }}</h1>
      </div>
    </ng-template>
  </div>
  <div class="right" *ngIf="isMainPage">
    <mat-icon (click)="editMainPage()"
              class="icon"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="settings">
    </mat-icon>
  </div>
</div>
