<main class="page" *ngIf="items$ | async as items">
  <ng-container *ngIf="uiState$ | async as state">
    <ng-container *ngIf="!routeRoomId">
      <section class="room-picker" *ngIf="rooms$ | async as rooms">
        <label>
          <span>Комната</span>
          <select [value]="selectedRoomId || ''" [disabled]="state.saving" (change)="selectRoom($event)">
            <option value="">Без комнаты</option>
            <option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</option>
          </select>
        </label>
      </section>
    </ng-container>

    <section class="list skeleton-list" *ngIf="state.loading; else catalogContent">
      <div class="row" *ngFor="let item of [1, 2, 3]">
        <span class="icon skeleton"></span>
        <span class="copy">
          <span class="skeleton line"></span>
          <span class="skeleton line short"></span>
        </span>
        <span class="skeleton add"></span>
      </div>
    </section>

    <ng-template #catalogContent>
      <section class="list" *ngIf="items.length; else empty">
        <article class="row" *ngFor="let item of items">
          <mat-icon [fontIcon]="item.icon"></mat-icon>
          <div>
            <h2>{{ item.name }}</h2>
            <p>{{ item.id }} · {{ value(item) }}</p>
          </div>
          <button type="button" [disabled]="state.saving" (click)="add(item)">
            <mat-icon fontIcon="add"></mat-icon>
          </button>
        </article>
      </section>
    </ng-template>
  </ng-container>

  <ng-template #empty>
    <section class="empty">
      <mat-icon fontIcon="inventory_2"></mat-icon>
      <h2>Доступные элементы не найдены</h2>
      <p>Каталог пуст или все элементы уже добавлены в layout.</p>
    </section>
  </ng-template>
</main>
