:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  flex: 1;
  padding-top: 76px;
  overflow: auto;
}

.app-content.no-header {
  padding-top: 0;
}

@media only screen and (max-width: 767px) {
  .app-content {
    padding-top: 64px;
  }

  .app-content.no-header {
    padding-top: 0;
  }
}
